@import "tailwindcss";

@theme {
  --color-primary: #800080;
  --color-primary-hover: #4d074d;
  --color-secondary: #993399;
  --color-accent: #F3EDF7;
  
  /* tokens de espaçamento e bordas */
  --radius-xl: 1rem;
  --shadow-card: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
